html {
    scroll-behavior: smooth;
}

html body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}





nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38a372;
    border-bottom: 5px solid #348c65;
    position: absolute;
    top: 0;
    width: 100%;
}

.navigation {
    float: left;
}

.donateandshare {
    float: right;
}
  
#img-1 {
    height: 4vh;
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-color: #164b2d;
}






.intro {
    height: 70vh;
    background-color: #38a372;
}

.intro-content {
    height: 85vh;
    width: 70%;
    margin: 0 auto;
    background-color: #e2ded2;
    border-radius: 2%;
}

.intro article {
    max-width: 45%;
    margin-left: 5%;
    margin-top: 13%;
    float: left;
}

.intro article h1 {
    font-size: 4vw;
    color: #348c65;
}

.intro article p {
    font-size: 3vh;
    color: rgb(99, 99, 99);
}

#img-2 {
    width: 45%;
    margin-right: 5%;
    margin-top: 13%;
    float: right;
    border-radius: 5%;
}

.empty-forbluebackground {
    background-color: #264e66;
    height: 100vh
}

.Arrow {    
    width: 100%;
}

#img-3 {
    width: 4%;
    margin-top: 9%;
    margin-left: 48%;
    margin-right: 48%;
}








.projects {
    background-color: #264e66;
    height: 60vh;
}

.projects h1 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
    color: #e2ded2;
    font-size: 4vh;
}

.project-kolonner {
    width: 70%;
    margin: 0 auto;
}

.kolonne1 {
    background-image: url(images/OurProjects/OurProjcets-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 24%;
    float: left;
    margin: 1% 1% 1% 0%;
    height: 400px;
    border-radius: 5%;
    opacity: 0.9;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    transition: transform .3s;
    color: white;
}

.kolonne2 {
    background-image: url(images/OurProjects/OurProjcets-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 24%;
    float: left;
    margin: 1% 0.333%;
    height: 400px;
    border-radius: 5%;
    opacity: 0.9;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    transition: transform .3s;
    color: white;
}

.kolonne3 {
    background-image: url(images/OurProjects/OurProjcets-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 24%;
    float: left;
    margin: 1% 1%;
    height: 400px;
    border-radius: 5%;
    opacity: 0.9;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    transition: transform .3s;
    color: white;
}

.kolonne4 {
    background-image: url(images/OurProjects/OurProjcets-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 24%;
    float: left;
    margin: 1% 0% 1% 0.333%;
    height: 400px;
    border-radius: 5%;
    opacity: 0.9;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
	transition: transform .3s;
    color: white;
}

.kolonne1 article, .kolonne2 article, .kolonne3 article, .kolonne4 article {
    margin: 45% 10%;
}

.kolonne1:hover, .kolonne2:hover, .kolonne3:hover, .kolonne4:hover {
    opacity: 1;
    transform: scale(1.07);
}






.getinvolved {
    padding-top: 5vh;
    background-color: #e2ded2;
    height: 60vh;
}

#Title-GetInvolved {
    width: 100%;
    text-align: center;
    font-size: 4vh;
}

.rad1, .rad2 {
    width: 70%;
    margin: 0 auto;
}

.rad1-kolonne1, .rad1-kolonne2, .rad2-kolonne1, .rad2-kolonne2 {    
    width: 50%;
    float: left;
    height: 25vh;
}


.rad1-kolonne1 article, .rad2-kolonne1 article {    
    width: 70%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.rad1-kolonne2 article, .rad2-kolonne2 article {
    width: 70%;
    float: left;
    margin-left: 5%;
}

.rad1-kolonne1 article h2, .rad2-kolonne1 article h2, .rad1-kolonne2 article h2, .rad2-kolonne2 article h2 {
    color: #e26958;
}

#getinvolved-img1, #getinvolved-img3 {
    width: 20%;
    height: 10vw;
    float: left;
    object-fit: cover;
}

#getinvolved-img2, #getinvolved-img4 {
    width: 20%;
    height: 10vw;
    float: left;
    object-fit: cover;
    margin-left: 5%;
}