html body {
    margin: 0;
    padding: 0;
    font-family: 'Chronicle Text G2 A','Chronicle Text G2 B',serif;
}


nav {
    width: 100%;
}

nav ul li {
    display: inline;
}

#img-1{
    width: 10%;
    margin: 0% 1% 0% 1%;
}

.navigation {
    margin: 0% 2% 2% 2%;
    font-size: 105%;
}

#img-2 {
    margin: 1% 0%;
    width: 100%;
    height: 1000px;
    object-fit: cover;
}


.maintitle {
    width: 40%;
    margin: 0% 40% 0% 20%;
    font-size: 200%;
}

.maintitle #linkOurProject {
    color: #8cc63e;
}
