html body {
    margin: 0;
    padding: 0;
}





nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38a372;
    border-bottom: 5px solid #348c65;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.navigation {
    float: left;
}

.donateandshare {
    float: right;
}
  
#img-1 {
    height: 5vh;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
  
nav ul li a:hover {
    background-color: #bda656;
}