html body {
    margin: 0;
    padding: 0;
}




nav {
    width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;
}

#img-1{
    float: left;
    width: 10%;
    margin: 0% 1% 0% 1%;
}

.navigation {
    float: left;
    margin: 2.5% 2% 2% 2%;
    font-size: 105%;
}

.donateandshare {
    float: right;
    margin: 2.5% 2% 2% 2%;
}




#img-2 {
    margin: 1% 0%;
    width: 100%;
    height: 900px;
    object-fit: cover;
}




.maintitle {
    width: 40%;
    margin: 0% 40% 0% 20%;
    font-size: 200%;
}

.maintitle #linkOurProject {
    color: #8cc63e;
}




#img-3 {
    width: 60%;
    margin: 0% 20%;
}




.mainarticle {
    width: 50%;
    margin: 0% 25%;
    font-size: 180%;
    line-height: 180%;
}

#mainpoint {
    color: #565656;
}

#img-4 {
    width: 100%;
}

#img-5 {
    width: 100%;
}