html body {
    margin: 0;
    padding: 0;
}





nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38a372;
    border-bottom: 5px solid #348c65;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation {
    float: left;
}

.donateandshare {
    float: right;
}
  
#img-1 {
    height: 4vh;
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
  
nav ul li a:hover {
    background-color: #bda656;
}






.intro {
    height: 70vh;
    background-color: #38a372;
}

.intro-content {
    height: 85vh;
    width: 70vw;
    margin: 0 auto;
    background-color: #e2ded2;
    border-radius: 2%;
}

.intro article {
    max-width: 45%;
    margin-left: 5%;
    margin-top: 13%;
    float: left;
    font-family: 'Quicksand', sans-serif;
}

.intro article h1 {
    font-size: 4vw;
    color: #348c65;
}

.intro article p {
    font-size: 3vh;
    color: darkgrey;
}

#img-2 {
    width: 45%;
    margin-right: 5%;
    margin-top: 13%;
    float: right;
    border-radius: 5%;
}




